In [1]:
import pandas as pd

import plotly.express as px
import plotly.graph_objects as go

In [4]:
df=  pd.read_csv("car.csv")

In [8]:
df.brand.unique()

array(['MG', 'Toyota', 'Honda', 'KIA', 'Nissan', 'Suzuki',
       'Mercedes Benz', 'Range Rover', 'Daihatsu', 'Changan', 'BMW',
       'Hyundai', 'Mazda', 'Haval', 'DFSK', 'Mitsubishi', 'Audi',
       'Chevrolet', 'Porsche', 'United', 'Others', 'FAW', 'Lexus',
       'Prince', 'Chrysler', 'Subaru', 'Peugeot', 'Ford', 'Land Rover',
       'Master', 'Volkswagen', 'Chery', 'Willys', 'Proton', 'Jeep',
       'MINI', 'SsangYong', 'Isuzu', 'Daewoo', 'Daehan', 'BAIC', 'Tesla',
       'Cadillac', 'Datsun', 'Adam', 'Hummer', 'Alfa Romeo', 'Sogo',
       'Golf', 'Jaguar', 'Dodge', 'Hino', 'Buick', 'Morris', 'JW Forland',
       'Bentley', 'JAC', 'Fiat', 'Roma', 'JMC', 'Ferrari', 'Geely',
       'ZOTYE', 'Opel', 'Vauxhall', 'Oldsmobile', 'GMC', 'Citroen',
       'Classic Cars', 'Mushtaq', 'Volvo'], dtype=object)

In [9]:
df["model_date"].unique()

array([2021., 2012., 2015., 2022., 2004., 2008., 2018., 2003., 2010.,
       2017., 2019., 2020., 2013., 2014., 2007., 1999., 2016., 1997.,
       2023., 2001., 2011., 1985., 1987., 1984., 2000., 2006., 1982.,
       2005., 1998., 1988., 1995., 2009., 1980., 1996., 1994., 1989.,
       1991., 1993., 2002., 1992., 1986., 1967., 1981., 1969., 1990.,
       1983., 1960., 1979., 1974., 1970., 1965., 1968., 1975., 1963.,
       1976., 1961., 1978., 1972., 1973., 1951., 1966., 1962., 1971.,
       1952., 1977., 1964., 1942.])